header {
  padding: 4.7rem 0;
  background-color: #f8f8f8;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-mobile {
    display: none;
  }
  nav {
    display: flex;
    gap: 3.7rem;
    a {
      position: relative;
      color: #514b4b;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 155.3%;
      letter-spacing: 0.96px;
      &.active {
        color: var(--BLACK);
        &:before {
          content: "";
          width: 4px;
          height: 3.2rem;
          background: url("../../assets/Line.svg") no-repeat center center;
          position: absolute;
          left: 50%;
          margin-left: -2px;
          top: -36px;
        }
      }
      &:hover {
        color: var(--BLACK);
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  @media (max-width: 560px) {
    padding: 3rem 0;
    .btn-mobile {
      display: block;
    }
    .logo {
      max-width: 15.9rem;
    }
    nav {
      display: none;
    }
  }
}
